<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">REACTAPP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {{!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> --}}
      <li class="nav-item">
        {{!-- <a class="nav-link" href="/courses/create">TAO KHOA HOC </a> --}}
      </li>
      <li class="nav-item dropdown">
        {{!-- <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <img src="https://fullstack.edu.vn/assets/f8-icon-lV2rGpF0.png" alt="" class="user-avatar">
         Long tran
        </a> --}}
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="https://fullstack.edu.vn/assets/f8-icon-lV2rGpF0.png" alt="" class="user-avatar" style="width: 30px; border-radius: 50%;">
            ACTION
          </a>
        <div class="dropdown-menu">
          {{!-- <a class="dropdown-item" href="#">Action</a> --}}
          
           <a class="dropdown-item" href="/courses/create">TAO SẢN PHẨM </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/courses">SẢN PHẨM CỦA TOI</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="/me/stored/news">MOI</a>
            <div class="dropdown-divider"></div>
             <div class="dropdown-divider"></div>
        </div>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li> --}}
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> --}}
  </div>
  </div>
</nav>

{{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Thay logo Shopee bằng phần giao diện mới -->
    <div class="header">
      <div class="header__logo">
        <h2>Logo</h2>
      </div>
      <div class="header__search">
        <input type="text" placeholder="Search for..." />
      </div>
      <div class="header__actions">
        <i class="fas fa-cog header__icon"></i>
        <i class="fas fa-bell header__icon"></i>
        <i class="fas fa-user-circle header__icon"></i>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            <img src="https://fullstack.edu.vn/assets/f8-icon-lV2rGpF0.png" alt="" class="user-avatar" style="width: 30px; border-radius: 50%;">
            Long Tran
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="/courses/create">Tạo Khóa Học</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/courses">Khóa Học Của Tôi</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/me/stored/news">Tin Mới</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav> --}}
